.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-eclipse {
    width: 60%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #E5E5E5;
    background-image: conic-gradient(#A1C6A0 0% 25%, #E5E5E5 25% 100%);
}

.timer-inner {
    position: absolute;
    width: 50%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: white;
}

@media all and (min-width: 512px){
    .timer-eclipse {
        width: 30%;
    }
}